.wrapper {
  background: #f5f5f5;
  border-radius: 12px;
  padding: 2px;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 1px solid lightgrey;
}

.wrapper h3{
  margin-top: 0;
  text-align: center;
}

.fullWidth {
  width: 100%;
  max-width: 100%;
}

.scrollContainer {
  overflow-x: auto;
  width: 100%;
}

.tableWrapper {
  display: flex;
}

/* Левая колонка */
.leftColumn {
  flex: 0 0 70px;
}

/* Правая часть */
.rightScroll {
  overflow-x: auto;
  flex: 1;
}

/* Таблицы */
.leftColumn table,
.rightScroll table {
  border-collapse: separate;
  border-spacing: 6px;
}

.teamHeader,
.teamCell {
  width: 70px;
  min-width: 70px;
  text-align: center;
}

.leftColumn tr,
.rightScroll tr {
  height: 26px;
}

.leftColumn thead tr,
.rightScroll thead tr {
  height: 26px;
}

.fixture {
  min-width: 60px;
  text-align: center;
  padding: 6px 4px;
  border-radius: 6px;
  font-size: 10px;
  white-space: nowrap;
}

.fixture {
  min-width: 48px;
  text-align: center;
  padding: 6px 4px;
  border-radius: 6px;
  font-size: 10px;
  white-space: nowrap;
}



/* Difficulty colors */

.difficulty1 { background: #8bdc8b; }
.difficulty2 { background: #b9e6b9; }
.difficulty3 { background: #ddd; }
.difficulty4 { background: #f4a6a6; }
.difficulty5 { background: #ff4d4d; color: white; }

.controls {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.currentTour {
  box-shadow: inset 0 0 0 2px #4c9aff;
}

button{
    cursor: pointer;
}