.page {
  display: grid;
  gap: 24px;

  grid-template-columns:
    240px
    minmax(0, 1fr)
    360px
    240px;

  grid-template-rows:
    auto   /* donate */
    1fr;   /* контент */
}

/* ============================= */
/* ЗОНЫ */
/* ============================= */

.main {
  min-width: 0;
  grid-column: 2;
  grid-row: 2;
  margin-bottom: 20px;
}

.widgets {
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;

  grid-column: 3;
  grid-row: 2;
}
.leftAd {
  grid-column: 1;
  grid-row: 1 / -1;
}

.rightAd {
  grid-column: 4;
  grid-row: 1 / -1;
}

/* ============================= */
/* ЕСЛИ НЕТ ВИДЖЕТОВ */
/* ============================= */

.noWidgets {
  grid-template-columns:
    240px
    minmax(0, 1fr)
    240px;
}

/* реклама остаётся по бокам */
.noWidgets .leftAd {
  grid-column: 1;
}

.noWidgets .rightAd {
  grid-column: 3;
}

/* донат занимает центр */
.noWidgets .donateBar {
  grid-column: 2;
}

/* контент занимает центр */
.noWidgets .main {
  grid-column: 2;
}

/* виджеты отключены */
.noWidgets .widgets {
  display: none;
}

/* ============================= */
/* ЕСЛИ НЕТ РЕКЛАМЫ */
/* ============================= */

.noAds {
  grid-template-columns:
    minmax(0, 1fr)
    360px;
}

/* ЕСЛИ НЕТ НИ ВИДЖЕТОВ, НИ РЕКЛАМЫ */

.noAds.noWidgets {
  grid-template-columns: minmax(0, 1fr);
}

.noAds .donateBar {
  grid-column: 1 / 3;
}

.noAds .main {
  grid-column: 1;
}

.noAds .widgets {
  grid-column: 2;
}


.donateBar {
  grid-column: 2 / span 2;
  grid-row: 1;

  min-width: 0;

  padding: 0;
  padding-top: 20px;
  border-radius: 8px;
}


/* ============================= */
/* АДАПТИВ */
/* ============================= */

/* Убираем рекламу на средних экранах */
@media (max-width: 1400px) {
  .page {
    grid-template-columns:
      minmax(0, 1fr)
      340px;

    grid-template-rows: auto auto;
  }

  .leftAd,
  .rightAd {
    display: none;
  }

  .donateBar {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .main {
    grid-column: 1;
    grid-row: 2;
  }

  .widgets {
    grid-column: 2;
    grid-row: 2;
  }

  /* 🔥 исправление для страниц без виджетов */
  .page.noWidgets {
    grid-template-columns: minmax(0, 1fr);
  }

  .page.noWidgets .donateBar {
    grid-column: 1;
    grid-row: 1;
  }

  .page.noWidgets .main {
    grid-column: 1;
    grid-row: 2;
  }
}

/* Всё в одну колонку */
@media (max-width: 900px) {
  .page {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .donateBar {
    grid-column: 1;
    grid-row: 1;
  }

  .main {
    grid-column: 1;
    grid-row: 2;
  }

  .widgets {
    grid-column: 1;
    grid-row: 3;
  }
}