.wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-height: 40px;

  background: #d32f2f;
  opacity: 30%;
  color: white;
  border-bottom:10px solid #d32f2f;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 99;

  animation: slideDown 0.25s ease-out;
}


@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 30%;
  }
}
