.container {
    width: 100%;
}

.scrollContainer {
    width: 100%;
    overflow-x: auto;
}

.tableBlock {
    width: max-content;
}

.stickyCol {
    position: sticky;
    left: 0;
    z-index: 3;
    background: #fff;
    border-right: 2px solid #bbb;
    width: 55px;
}

.stickyTable thead .stickyCol {
    z-index: 4;
    background: #f4f6f8;
}

.colTour {
    width: 70px;
}

.wrapper {
    background: #f5f5f5;
    border-radius: 12px;
    padding: 2px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid lightgrey;
}

.wrapper h3{
    margin-top: 0;
    text-align: center;
}

.fullWidth {
    width: 100%;
    max-width: 100%;
}

.scrollContainer {
    overflow-x: auto;
    width: 100%;
}

.tableWrapper {
    display: flex;
    min-height: 520px;
}

.tableBody {
    height: 520px;
    overflow-y: auto;
}

.leftColumn {
    flex: 0 0 70px;
}

.rightScroll {
    overflow-x: auto;
    flex: 1;
}

.leftColumn table,
.rightScroll table {
    border-collapse: separate;
    border-spacing: 6px;
}

.teamHeader,
.teamCell {
    width: 60px;
    min-width: 60px;
    text-align: center;
}

.teamHeader:nth-child(2),
.teamCell:nth-child(2) {
    width: 220px;
    min-width: 220px;
}

.teamHeader:nth-child(1),
.teamCell:nth-child(1) {
    width: 60px;
    min-width: 60px;
}

@media (max-width: 900px) {
    .teamHeader:nth-child(1),
    .teamCell:nth-child(1) {
        width: 180px;
        min-width: 180px;
    }
}

.leftColumn tr,
.rightScroll tr {
    height: 26px;
}

.leftColumn thead tr,
.rightScroll thead tr {
    height: 26px;
}

.fixture {
    min-width: 48px;
    text-align: center;
    padding: 6px 4px;
    border-radius: 6px;
    font-size: 10px;
    white-space: nowrap;
}

.difficulty10 { background: #427e42; }
.difficulty9 { background: #6ca46c; }
.difficulty8 { background: #acd7ac; }
.difficulty7 { background: #c2e1c2; }
.difficulty6 { background: #ddd; }
.difficulty5 { background: #eac5c5; }
.difficulty4 { background: #c29191; }
.difficulty3 { background: #d07878; }
.difficulty2 { background: #ec6161; }
.difficulty1 { background: #ff4d4d; color: white; }

.controls {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 12px;
}

button{
    cursor: pointer;
}

.skeleton {
    width: 100%;
    height: 14px;
    border-radius: 4px;

    background: linear-gradient(
            90deg,
            #eee 25%,
            #f5f5f5 37%,
            #eee 63%
    );

    background-size: 400% 100%;
    animation: skeleton-loading 1.4s ease infinite;
}

@keyframes skeleton-loading {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}